DATABASE_URL=postgresql://shannav_admin:PASSWORD@shannav-db.cqtamkcm4aun.us-east-1.rds.amazonaws.com:5432/shannav_dev
COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_rEkOEgjIj
COGNITO_CLIENT_ID=5ree979ah0cq3h3hlhlkt6bop2
