# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
.pytest_cache/

# Environment
.env
.dev-pids
frontend/.env

# Frontend
frontend/node_modules/
frontend/dist/

# AWS
.elasticbeanstalk/

# IDE
.vscode/
.idea/
